.card-save {
  border: 2px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: small;
  height: 320px;
  justify-content: space-between;
  line-height: unset;
  margin: 0;
  padding: 0;
  width: 280px;
}
