.card-save {
  background-color: rgba(250, 250, 250, 0.4);
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: small;
  height: 320px;
  justify-content: space-between;
  line-height: unset;
  margin: 0;
  padding: 0;
  width: 280px;
}

button {
  margin: 20px;
}
