body {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 2px solid;
  height: 420px;
  padding: 15px;
  width: 50%;
}

.espaco {
  margin-bottom: 30px;
}
