body {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 2px solid;
  height: 420px;
  padding: 15px;
  width: 50%;
}

.card-previl {
  border: 2px solid;
  border-radius: 20px;
  padding: 15px;
  width: 30%;
}

.card-save {
  border: 2px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 15px;
  width: 250px;
}
